
<% if @results.count > 1 %>
  <h1><%= @results.count %> Results </h1>
  <% @results.each do |member| %>
    <ul class="member">
    <li class="name"><%= member.name %></li>
    <li class="role"><%= member.role %></li>
    <li class="party"><%= member.party %></li>
    <li class="district"><%= member.district %></li>
  </ul>
  <% end %>
<% else %>
  <h1>Senator <%= @results.first.name %> was found!</h1>
  <p>Their twitter is <%= @results.first.twitter %>.</p>
<% end %>