<!DOCTYPE html>
<html>
  <head>
    <title>HouseSalad7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to "HouseSalad", root_path, class: "navbar-brand" %>
      </div>
    </nav>
    <%= yield %>

  </body>
</html>
